body {
    margin: 0%;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #005596;
    overflow: hidden;
  }
  .logo {
    font-family: 'Secular One', sans-serif;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 10px;
  }
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
   .dropbtn {
    font-family: 'Roboto', sans-serif;
   }
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    animation-name: dropdowncontent;
    animation-duration: 0.6s;
  }
  .dropdown-content-1, .dropdown-content-2 {
    display: none;
    left:170px;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none;
    margin: 0%;
  }
  .dropdown-content-1 li {
    padding: 5px;
    margin-left: 0px;
    list-style: none;
  }
  .dropdown-content-2 li {
    display: block;
    padding: 5px;
    margin-left: 0px;
    list-style: none;
  }
  .dropdown-content a:nth-of-type(6):hover ul {
    display: block;
    animation-name: dropdowncontent;
    animation-duration: 0.5s;
  }
  .dropdown-content a:nth-of-type(3):hover ul {
    display: inline-block;
    animation-name: dropdowncontent;
    animation-duration: 0.5s;
  }
  /* Style the links inside the dropdown */
  .dropdown-content > a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: relative;
  }

@keyframes dropdowncontent {
    from {opacity: 0; top: 70px;}
    to {opacity: 1; top: 50px;}
}
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: #f77017;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content  a:hover {
        color: #f77017;
        width: auto;
        height: auto;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .submenu_list {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }
  .submenu_list::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #005596;
    transition: width .3s;
  }
  .submenu_list:hover::after{
    width: 100%;
  }
  
  .menulist, .dropbtn {
    display: inline-block;
    text-decoration: none;
  }
  .menulist::after, .dropbtn::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f77017;
    transition: width .3s;
  }
  .menulist:hover::after, .dropbtn:hover::after{
    width: 100%;
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  /* slider css starts here */
  .slider {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .slider-wrapper {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  .slider-wrapper img {
    width: calc(100% / 1);
    height: 100%;
    object-fit: cover;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    cursor: pointer;
    z-index: 1;
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
.welcome {
  display: block;
  padding: 3%;
}
.wel-m {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-weight: bolder;
    font-size: 4rem;
    display: block;
  }
  .wel-d {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #6f7c81;
    padding: 2%;
  }
.client-header, .ourm, .p-t {
  text-align: center;
  display: block;
  padding: 2%;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight:bolder;
  color: #005596;
}
.client-header:hover {
  color:#f77017;
  transition: 0.7s;
}
.cl_img {
  max-width: 100%;
  object-fit: contain;
  filter: grayscale(100%);
  padding: 2%;
  display: block;
}
.cl {
  width: 200px;
  height: 100px;
  margin: 5%;
  display: inline-block;
}
.all_img {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cl_img:hover {
  filter: grayscale(0%);
}
.opm, .experts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}
.mp {
  font-family: 'Roboto', sans-serif;
  color: #005596;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  padding: 5%;
}
.mp img {
  max-width: 100%;
  object-fit: contain;
}
.mp:hover {
  color: white;
  background-color: #f77017;
  transition: 0.6s;
}
.mp::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f77017;
  transition: width .6s;
}
.mp:hover::after{
  width: 100%;
}
.experts {
  background-color: #005596;
}
.mp-1 {
  font-size: 16px;
  text-align: center;
  width: 200px;
  padding: 5%;
}
.mp-1 img {
  width: 200px;
  height: auto;
}
.mp-1:hover {
  color: white;
  background-color: #f77017;
  transition: 0.6s;
}
.mp-1::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f77017;
  transition: width .6s;
}
.mp-1:hover::after{
  width: 100%;
}
.ex-d {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white
}
.ex-title {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.explore {
  display: block;
  color: white;
  text-decoration: none;
}
.explore:visited {
  color: white;
}
.explore:hover {
  text-decoration: underline;
  color: black;
}
.footer {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  color:#005596;
  text-align: center;
  justify-content: space-evenly;
}
.ser-ftr li, .leg-ftr li, .others-ul li, .logo-footer {
  list-style: none;
  padding: 2%;
  text-align: start;
}
.ser-ftr a:visited, .leg-ftr a:visited, .others-ul a:visited, .logo-footer a:visited {
 color: #005596;
}
.ser-ftr a:hover, .leg-ftr a:hover, .others-ul a:hover, .logo-footer a:hover {
  color:#f77017;
}
.ser-ftr a, .leg-ftr a, .others-ul a, .logo-footer a {
  text-decoration: none;
  color: #005596;
}
.ser-ftr, .leg-ftr, .others-ul, .logo-footer, .connect{
  text-decoration: none;
  color: #005596;
  text-align: start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ftr-title, .connect {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
}
.logo-footer {
  text-align: center;
}
.logo-footer li {
  list-style: none;
  text-align: start;
}
.connect {
  display: block;
  flex-direction: row;
  justify-content: space-between;
}
.lastf {
  display: flex;
  justify-content: space-between;
  margin: 0% 3% 2% 3%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #005596;
  font-size: 18px;
}
.copy:hover {
  color: #f77017;
}
.design:hover {
  color: #f77017;
}
.design a {
  color:#005596;
  text-decoration: none;
}
.design a:hover {
  color: #f77017;
  text-decoration: underline;
}
.design a:visited {
  color: #005596;
  text-decoration: none;
}
.design a:active {
  color: #005596;
  text-decoration: none;
}
.madein {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.m-t {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #005596;
}
.m-w {
  width:600px;
  height: auto;
  margin: 1%;
  border-radius: 19px;
  overflow: hidden;
}
.m-w img { 
  max-width: 100%;
  object-fit: contain;
}
.pmt {
  display: flex;
  align-items: center;
  background-color: #005596;
}
.p-m {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #005596;
  padding: 1%;
  text-align: center;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}
.p-d-d {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.ad-m{
  align-items: center;
  color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ad-m-d {
  color: #f77017;
  text-align: center;
  padding: 3%;
  font-size: 20px;
}
.ad-m-d img {
  width :100px;
  height: auto;
}
.ad-img {
  overflow: hidden;
}
.ad-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.item {
  background-color: #005596;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
  flex-wrap: wrap;
}
.i-img {
  overflow: hidden;
  border-radius: 9px;
}
.i-img img {
  max-width: 100%;
  object-fit: contain;
}